<form method="post" action="/User/Login"> <!-- Укажите правильный URL для обработки формы -->
        <div>
            <label for="name">Имя пользователя:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Войти</button>
        </div>
</form>