<form method="post" action="/User/Registr">
    <!-- Укажите правильный URL для обработки формы -->
    <div>
        <label for="name">Имя пользователя:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="password">чатID:</label>
        <input type="number" id="ChatId" name="ChatId" >
    </div>
    <div>
        <button type="submit">Зарегистрировать</button>
    </div>
</form>