@using ParserAvto.Core
@using ParserAvto.Core.AvtoParser;
@model List<Avto>




<div class="row">
    @foreach (var p in Model)
    {
        //partial
        <partial name="_cart" model="p" />
    }
</div>
    @if(AvtoSettings.PageId>1)
    {
    <a asp-action="PreviousPage">предыдущая</a>
 
    }
<a asp-action="NextPage">следущая</a> 