@using ParserAvto.Core
@using ParserAvto.Core.AvtoParser;
@*@model List<Avto>*@
@model PaginationViewModel


<div class="row">
    @foreach (var p in Model.Avtos)
    {
        //partial
        <partial name="_cart" model="p" />
    }

</div>
<div class="btn-group">
    @if (Model.PageInfo.PageNumber > 1)
    {
      
        <a href="@Url.Action("GetPage", new { page = Model.PageInfo.PageNumber-1 })">Pr</a>
      
    }
    <p> </p> <>
    <a href="@Url.Action("GetPage", new { page = Model.PageInfo.PageNumber+1 })">Next</a>    

   
</div>

