@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p> Нажмите Старт для парсинга</p>
</div>

<a asp-action="GetPage">СТАРТ</a> 





